*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #F1FAFC;
	font-family: 'Lato', sans-serif;
}
.headline h1{
	margin-left: 150px;
	font-size: 60px;
	font-family: 'Courgette', cursive;
}
.headline h4{
	margin-left: 150px;
}
.container{
	width: 70%;
	display: grid;
	margin: 0 150px;
	margin-top: 10px;
	grid-template-columns: 600px 350px;
	grid-template-rows: 1580px;
	gap: 10px;
	border-radius: 3px;
}
.buttom1{
	background: #FDFDFD;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buttom1 span{
	font-size: 50px;
	margin:0 25px;
	margin-top: 60px;
}
.buttom1 img{
	height: 250px;
	width: 550px;
	margin-left: 25px;
	margin-top: 5px;
}
.buttom1 p{
	margin:0 25px;
	margin-top: 20px;
}
.buttom1 h3{
	margin-top: 25px;
	margin-left: 25px;
	color: #413C3C;
	font-size: 14px;
}
.buttom1 h1{
	margin-top: 60px;
	margin-left: 25px;
	font-size: 50px;
}
hr{
	width: 550px;
	margin-left: 25px;
	margin-top: 20px;
}
.buttom2{
	background: #FDFDFD;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.buttom2 img{
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border-top-right-radius: 0%;
    border-top-left-radius: 0%;
  	object-fit: cover;
  	margin-left: 40px;
}
.buttom2 p{
	margin:0 25px;
	margin-top: 20px;
}
.buttom2 h1{
	margin:0 25px;
	margin-top: 20px;
	font-size: 25px;
}
.buttom2 ul li{
	margin-top: 14px;
	margin-left: 55px;
}
.buttom2 ul{
	margin-top: 30px;
}
ul li a{
	color: red;
	text-decoration: none;
}
.footer{
	background: #FDFDFD;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 20px;
	height: 25px;
	width: 72%;
	margin-left: 11%;
	margin-bottom: 10px;
	font-size: 20px;
}
.footer p{
	margin-bottom: 3px;
}